@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    --color-primario: #913f33;
    --color-secundario: #ff705f;
    --color-terciario: #ffaa67;
    --color-background: #ffdfab;
    --border-colors: #9fb9c2;
    font-family: 'Nunito Sans', sans-serif;
}   
header {
    display: flex;
    justify-content:space-between;
    background-color: var(--color-primario);
    color: var(--border-colors);
    font-style:inherit;

}
header div {
    display: flex;
    flex-direction: row;
    margin: 10px;
    min-width: 40%;
}

header .header_logo {
    margin-left: auto;
    align-items: center;
}
header .header_input {

    align-items: center;
    justify-content: flex-start;
    margin-right: auto;
}
header .header_input input {
    width: 300px;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
    border: var(--border-colors);
    padding: 0 10px;
    
}

header h1 {
    margin: 0px 20px;
    line-height: 100%;
}

nav {
    display:flex;
    justify-content: flex-end;
    padding: 7px 17px;
    font-size: 1.1rem;
    gap: 10px;
    background-color: var(--color-secundario);

}

nav a {
    text-decoration: none;
    color: white;
    padding:3px 10px;
    border: 1px transparent;
    border-radius: 30px;
}

nav a:hover {
    color: var(--color-primario);
    background-color: var(--color-background);
}

main {
    background-color: var(--color-background);
    min-height: 900px;
}
#product {
    display: flex;
    max-width: 1024px;
    background-color: var(--color-background);
    margin: auto;

}
#product_img {
    min-width: 40%;
    margin:5px;
    border-radius: 15px;
}
#product_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-width: 25%;
    padding: 5px;
    margin:5px 0;
    border-left: 1px solid var(--border-colors);

}
#product_name {
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
}
#product_price {
    font-weight: bold;
    font-size: 1.5rem;
}

#product h4 {
    color: var(--border-colors) ;
    font-weight: bold;
}

#product-stats {
    list-style-position: inside;

}
.list {
    margin: 10px;
    font-size: 0.9rem;
}

#product_buy {
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 25%;
    padding: 5px;
    margin: 5px;
    border-left: 1px solid var(--border-colors);

}

#product_buy_shipping_free {
    display: flex;
    align-items: center;
    color: rgb(120, 228, 120);
    margin: 15px;
    gap: 10px;
}
#product_buy_shipping_free img {
    width: 50px;
    height: 50px;
}

#product_buy_shipping_free h2 {
    font-size: 1.2rem;
}

#product_buy_shipping a {
    margin:10px 0;
    display: block;
    text-align: center;
}
#product_quantity_label {
    text-align: center;
    font-weight: bold;

}

#product_buy_button_buy {
    display: block;
    margin:5px auto;
    width: 50%;
    height: 40px;
    background-color: var(--color-primario);
    color:white;
    border: 2px transparent;
    border-radius: 30px;
    padding: 0px 10px;
    font-size: 1rem;
}
#product_buy_button_buy:hover {
    border: 2px solid var(--border-colors);
    font-weight:bold;
}
#product_buy_button_add {
    display: block;
    margin:5px auto;
    width: 50%;
    height: 40px;
    background-color: var(--color-secundario);
    color:white;
    border: 2px transparent;
    border-radius: 30px;
    padding: 0px 10px;
}
#product_buy_button_add:hover {
    border: 2px solid var(--border-colors);
    font-weight:bold;
}
#product_buy_links {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#product_buy_links_list {
    display: grid;
    grid-template-columns: 15% 80%;
    list-style: none;
    gap: 5px;
}
#product_buy_links_list img {
    margin: 0 auto;
}
.product_buy_links_list_item {
    display: flex;
    flex-direction: column;
}
.product_buy_links_list_item a {
    text-decoration: none;
    color: var(--border-colors);
    font-weight: bold;
}
.product_buy_links_list_item p {
    font-size: 0.9rem;
}


main .articles {
    display:flex;
    justify-content: space-evenly;
    margin: auto;
    max-width: 1024px;
    border-bottom: none;
    border-top: none;
}
main .articles legend {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}
main .articles .article {
    width: 30%;
}
main .articles .article img {
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 5px ;
}

main .articles .article {
    align-items: center;
}

main .articles .article_price {
    text-align: center;
    margin: auto;
    padding: 3px;
    width: 30%;
    border: 1px solid var(--border-colors);
    border-radius: 30px;
}
main .articles .button_article {
    display: block;
    margin:5px auto;
    width: 50%;
    height: 40px;
    background-color: var(--color-secundario);
    color:white;
    border: 2px transparent;
    border-radius: 30px;
    padding: 0px 10px;
}

main .articles .button_article:hover {
    border: 2px solid var(--border-colors);
    font-weight:bold;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100px;
    background-color: var(--color-terciario);
}

footer a {
    text-decoration: none;
    color:  white;
    padding:6px 15px;
    border: 1px transparent;
    border-radius: 30px;

}

footer a:hover {
    color: var(--color-secundario);
    background-color: var(--color-background);
}

