@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    --color-primario: #913f33;
    --color-secundario: #ff705f;
    --color-terciario: #ffaa67;
    --color-background: #ffdfab;
    --border-colors: #9fb9c2;
    font-family: 'Nunito Sans', sans-serif;
}   
header {
    display: flex;
    justify-content:space-between;
    background-color: var(--color-primario);
    color: var(--border-colors);
    font-style:inherit;

}
header div {
    display: flex;
    flex-direction: row;
    margin: 10px;
    min-width: 40%;
}

header .header_logo {
    margin-left: auto;
    align-items: center;
}
header .header_input {

    align-items: center;
    justify-content: flex-start;
    margin-right: auto;
}
header .header_input input {
    width: 300px;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
    border: var(--border-colors);
    padding: 0 10px;
    
}

header h1 {
    margin: 0px 20px;
    line-height: 100%;
}

nav {
    display:flex;
    justify-content: flex-end;
    padding: 7px 17px;
    font-size: 1.1rem;
    gap: 10px;
    background-color: var(--color-secundario);

}

nav a {
    text-decoration: none;
    color: white;
    padding:3px 10px;
    border: 1px transparent;
    border-radius: 30px;
}

nav a:hover {
    color: var(--color-primario);
    background-color: var(--color-background);
}

main {
    background-color: var(--color-background);
    min-height: 900px;
}

main .banner {
    max-width: 1024px;
    margin: auto;
    padding: 30px 0;
}

main .banner img {

    display: block;
    margin:30px auto;
    width: 90%;
    border-radius: 15px;
}

main .articles {
    display:flex;
    justify-content: space-evenly;
    margin: auto;
    max-width: 1024px;
    border-bottom: none;
    border-top: none;
}
main .articles legend {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}
main .articles .article {
    width: 30%;
}
main .articles .article img {
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 5px ;
}

main .articles .article {
    align-items: center;
}

main .articles .article_price {
    text-align: center;
    margin: auto;
    padding: 3px;
    width: 30%;
    border: 1px solid var(--border-colors);
    border-radius: 30px;
}
main .articles .button_article {
    display: block;
    margin:5px auto;
    width: 50%;
    height: 40px;
    background-color: var(--color-secundario);
    color:white;
    border: 2px transparent;
    border-radius: 30px;
    padding: 0px 10px;
}

main .articles .button_article:hover {
    border: 2px solid var(--border-colors);
    font-weight:bold;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100px;
    background-color: var(--color-terciario);
}

footer a {
    text-decoration: none;
    color:  white;
    padding:6px 15px;
    border: 1px transparent;
    border-radius: 30px;

}

footer a:hover {
    color: var(--color-secundario);
    background-color: var(--color-background);
}

@media (min-width: 800px) {
    main {
        /* background-color:red; */
    }
}
