* {
  margin: 0;
  padding: 0;
  --color-primario: #913f33;
  --color-secundario: #ff705f;
  --color-terciario: #ffaa67;
  --color-background: rgb(131, 129, 129);
  --border-colors: #9fb9c2;
  font-family: 'Nunito Sans', sans-serif;
}   
#root {
  background-color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primario);
  color: var(--border-colors);
  font-style: inherit;
}
.header_logo {
  display: flex;
  justify-content: space-between;
  min-width: 50%;
  align-items: center;

}
.header_links {
  padding-right: 1rem;
  padding-bottom: 0.3rem;
  display: flex;
  justify-content: flex-end;
  min-width: 40%;
  gap: 1rem;
  align-items: flex-end;
}
.header_links_link {
  text-decoration: none;
  color: white;
  padding:3px 10px;
  border: 1px transparent;
  border-radius: 30px;
}
.header_links_link:hover {
    color: var(--color-primario);
    background-color: var(--color-background);

}
.root {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding:1rem;
}
.box_button_open_drawer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  color: yellow;
}
/* Button for open drawer styles: */
:where(.css-dev-only-do-not-override-nnuwmp).ant-btn.ant-btn-lg {
  margin: 0.3rem 1rem 0.3rem 0.3rem; 
  padding: 6.428571428571429px 1.6rem;
}
.drawer_buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.drawer_buy button {
  color: white;
  background-color: #1677ff;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}


.login {
  color: black;
  display: flex;
  padding: 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 30px;
  justify-content: space-between;
  gap: 0.3rem;
  align-items: center;
  min-width: 30%;
  margin: auto;
}
.login input {
  height: 15px;
  padding:5px;
  border-radius: 30px;
  text-align: center;
}
.login button {

  background-color: var(--color-secundario);
  width: 100px;
  height: 30px;
  color:white;
  border: 2px transparent;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;

}
.login button:hover {
  border: 2px solid var(--border-colors);
  background-color: var(--border-colors);
  font-weight: bold;
}
.login .close_button {
  width: 30px;
  font-weight: bold;
  background-color: white;
  color:black;
  border: 1px solid var(--color-primario);
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px;
  border: 1px solid;
  border-radius: 1rem;
  width: 30%;
  min-height: 120px;
  background-color: white;
  margin: auto;

}

.filters h3 {
  margin: 4px
}

.filters-input {
  display: flex;
  justify-content: space-around;
  margin:auto;
  width: 80%;
}
.filters-input label {
  width: 50%;
}
.products-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  background-color: var(--color-background);
  padding: 20px;
  max-width: 1024px;
  margin: auto;
  border-radius: 30px;
  
}

.card {
  border: solid 1px black;
  width: 13rem;
  height: 21rem;
  border-radius: 1rem;
  padding:1rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.card img {
  width: 100%;
  height: 60%;
}

.card button {
  display: block;
  margin:5px auto;
  width: 50%;
  height: 40px;
  background-color: var(--color-secundario);
  color:white;
  border: 2px transparent;
  border-radius: 30px;
  padding: 0px 10px;
  cursor: pointer;
}
.card button:hover {
  border: 2px solid var(--border-colors);
  background-color: var(--border-colors);
  font-weight: bold;
}


@media (min-width: 700px) {
  .products-layout {

    grid-template-columns: repeat(3, 1fr);

  }
}

@media (min-width: 1024px) {
  .products-layout {
    grid-template-columns: repeat(4, 1fr);
  }
}

