* {
  padding: 0;
  margin: 0; 
}

.root {
  background-color: black;
}

.products-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  background-color: white;
  padding: 10px;
  max-width: 1024px;
  margin: auto;
  
}

.card {
  border: solid 1px black;
  width: 13rem;
  height: 21rem;
  border-radius: 1rem;
  padding:1rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.card img {
  width: 100%;
  height: 75%;
}

.card button {
  border-radius: 0.5rem;
  padding: 0.4rem;
  border: 1px solid black
}
.card button:hover {
  background-color: aliceblue;
  color: blue;
}


@media (min-width: 700px) {
  .products-layout {

    grid-template-columns: repeat(3, 1fr);

  }
}

@media (min-width: 1024px) {
  .products-layout {
    grid-template-columns: repeat(4, 1fr);
  }
}

